/* GENERAL */
a {
    text-decoration: none;
    color: white;
}
img {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    list-style: none;
    gap: 65px;
    font-size: 18px;
}

body {
    background-color: black;
    margin:0px;
    padding:0px;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    background-color: #1f2937;
    color: white;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 210px;
}

.headerLogo{
    font-size: 24px;
    font-weight: 700;
}

.headerSignUpContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 210px;
    margin-top: 45px;
}

.headerSignUpHeader {
    margin-top: 40px;
    line-height: 35px;
    font-size: 48px;
    font-weight: 800;
    max-width: 400px;
}

.headerSignUpText{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    max-width: 400px;
    margin-top: 15px;
}

#btn1 {
    max-width: 110px;
    padding: 5px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.headerImage {
    background-color: gray;
    width: 480px;
    height: 280px;
    margin-right: 210px;
}

/* INFO */

.info {
    display: flex;
    flex-direction: column;
    height: 480px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    background-color: white;
    color: #1f2937;
}

#Information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    margin-top: 45px;
}

.pictureNtextbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
}

.pictureBox {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    padding: 0px 40px;
}

.picText {
    padding-top: 5px;
    font-weight: 700;
}

#pic2 {
    padding-top: 85px;
}

/* QUOTE */

.quoteField {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    color: #1f2937;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
}

.quoteText {
    display: flex;
    flex-direction: column;
}

.quoteAuthor {
    display: flex;
    justify-content: end;
    font-weight: 700;
    font-size: 25px;
    padding-top: 15px;
}

/* SIGN UP */
 
.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    color: #1f2937;
    background-color: #E5E7EB;
    font-size: 24px;
    font-style: italic;
    background-color: white;
}

.signUpBlock {
    display: flex;
    width: 1050px;
    height: 155px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
}

.signUpText {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 150px;
    padding-bottom: 0;
    justify-content: center;
    
}

.signUpHeader {
    display: flex;
    font-size: 26px;
    font-weight: 700;
}

.signUpParagraph {
    display: flex;
    font-size: 20px;
}


#btn2 {
    align-self: center;
    margin-right: 120px;
    width: 140px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    color: white;
    font-size: 20px;
    font-style: italic;
    background-color: #1f2937
}
